{{ define "index/home.html"}}
    {{template "index/base.html" .}}

    <style>
        img {
            max-width: 100%;
            padding: 2em;
            padding-left: 0;
        }
    </style>
    <link rel="stylesheet" href="/static/css/base.css" />

    <div class="container">
        {{if .message}}
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">{{.message}}</a>
            </div>
        {{end}}
        <section>
            <div class="grid">
{{/*                <div class="cell -3of12 content">*/}}
{{/*                    <img src="/static/img/avatar.jpeg" alt="My Avatar">*/}}
{{/*                    <br/>*/}}
{{/*                    <a href="/" class="justify-content-center">forrestshuang@gmail.com</a>*/}}
{{/*                </div>*/}}
                <div class="cell -9of12 content">
                    <h1>Forrest Double</h1>
                    <h4>Web and Backend Services Full Stack Developer</h4>
                    <h5>Skills</h5>
                    <ul>
                        <li>Go == Python > JavaScript >= Ruby >= Java > C/C++</li>
                        <li>Docker K8s Service Mesh</li>
                        <li>Go/Python Backend  & Vue.js  </li>
                        <li>AI & Machine Learning</li>
                    </ul>

                    <h5>Last Posts</h5>
                    <ul>
                        {{range $postvalue:=.posts}}
                            <li>{{ dateFormat $postvalue.CreatedTime "06-01-02 15:04" }} - <a
                                        href="/posts/{{$postvalue.ID}}">{{ $postvalue.Title }}</a>
                            </li>
                        {{end}}
                    </ul>

                    <h5>Highlighted Projects</h5>
                    <ul>
                        <li><a href="https://github.com/Xe/PonyAPI">PonyAPI</a> - My Little Pony: Friendship is Magic
                            Episode information API
                        </li>
                        <li><a href="https://github.com/PonyvilleFM/aura">Aura</a> - PonyvilleFM live DJ recording bot
                        </li>
                        <li><a href="https://github.com/PonyvilleFM/aura">Aura</a> - PonyvilleFM live DJ recording bot
                        </li>

                        <li><a href="https://github.com/Xe/site">This website</a> - The backend and templates for this
                            website
                        </li>
                    </ul>

                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="https://github.com/double1996">GitHub</a>
                        </li>
                        <li><a href="https://facebook.com/double1996">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    {{template "footer.html" .}}
{{ end }}
